# ---- konfigurasi (kredensial & pengaturan lokal) ----
.env
.env.*
*.local
pgpass.conf
.pgpass

# ---- backup database ----
*.dump
*.backup
*.sql.gz
/backups/

# ---- python (dipakai mulai checkpoint 2) ----
__pycache__/
*.py[cod]
venv/
.venv/
env/
*.egg-info/

# ---- editor dan tools ----
.vscode/
.idea/
*.swp

# ---- file workspace dbeaver / pgadmin (berisi kredensial koneksi & cache lokal) ----
.dbeaver/
.metadata/
.project
Scripts/
pgadmin4.db

# ---- file sampah os ----
Thumbs.db
desktop.ini
.DS_Store

# ---- log ----
*.log
